.feature-box {
    background-color: rgba($color-white, .8);
    padding: 2.5rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    text-align: center;
    box-shadow: 0rem 1.5rem 3rem rgba($color-black, .15);
    transition: transform .3s;

    .feature-box__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(
            to right,
            rgba($color-primary, 0.8),
            rgba($color-primary-dark, 0.8)
        );
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}